<!doctype html>
<html>
    <head>
        <style>
            .container {
              height: 600px;
              position: relative;
            }
            
            .center {
              margin: 0;
              position: absolute;
              top: 50%;
              left: 50%;
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
            }
            </style>
    </head>
    <body style="background-color:#b3e0ff;">
        <div class="container">
            <div class="center">
                <h1>Upload file that you want to see it in different hair styles</h1>
                <form method=post enctype=multipart/form-data>
                    <input type=file name=file>
                    <input type=submit value=Upload>
                </form>
            </div>
        </div>
    </body>              
</html>